.Cardwork {
    width: 325px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
}

.Cardwork:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.Cardwork:hover img {
    transform: translateY(-20px);
}

.Cardwork img {
    height: 115%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Cardwork h3 {
    color: white;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 190px;
}

.Cardwork p {
    color: rgba(255,255,255, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    align-self: end;
    margin: 0 0 20px 20px;
}

.CardsGroup {
    margin: 50px 40px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-items: center;
  }
  
  @media (max-width: 1060px) {
    .CardsGroup {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 720px) {
    .CardsGroup {
      grid-template-columns: repeat(1, 1fr);
    
    }
  }
  @media (max-width: 375px) {
    .CardsGroup {
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
  
  
  .Cards h2 {
    margin: 50px 20px;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(104.74deg, #050A27 0%,#4A548C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }